In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [15]:
df[df["variety"]=="Setosa"]

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa
20           5.4          3.4           1.7          0.2  Setosa
21           5.1          3.7           1.5          0.4  Setosa
22           4.6          3.6           1.0          0.2  Setosa
23           5.1          3.3           1.7          0.5  Setosa
24           4.8          3.4           1.9          0.2  Setosa
25           5.0          3.0           1.6          0.2  Setosa
26           5.0          3.4           1.6          0.4  Setosa
27           5.2          3.5           1.5          0.2  Setosa
28           5.2          3.4           1.4          0.2  Setosa
29           4.7          3.2           1.6          0.2  Setosa
30           4.8          3.1           1.6          0.2  Setosa
31           5.4          3.4           1.5          0.4  Setosa
32           5.2          4.1           1.5          0.1  Setosa
33           5.5          4.2           1.4          0.2  Setosa
34           4.9          3.1           1.5          0.2  Setosa
35           5.0          3.2           1.2          0.2  Setosa
36           5.5          3.5           1.3          0.2  Setosa
37           4.9          3.6           1.4          0.1  Setosa
38           4.4          3.0           1.3          0.2  Setosa
39           5.1          3.4           1.5          0.2  Setosa
40           5.0          3.5           1.3          0.3  Setosa
41           4.5          2.3           1.3          0.3  Setosa
42           4.4          3.2           1.3          0.2  Setosa
43           5.0          3.5           1.6          0.6  Setosa
44           5.1          3.8           1.9          0.4  Setosa
45           4.8          3.0           1.4          0.3  Setosa
46           5.1          3.8           1.6          0.2  Setosa
47           4.6          3.2           1.4          0.2  Setosa
48           5.3          3.7           1.5          0.2  Setosa
49           5.0          3.3           1.4          0.2  Setosa

In [17]:
df[df["sepal.width"]<3.5]

     sepal.length  sepal.width  petal.length  petal.width    variety
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[125 rows x 5 columns]

In [21]:
#Sort the rows in ascending/descending
df.sort_values(by="sepal.length", ascending=False)

     sepal.length  sepal.width  petal.length  petal.width    variety
131           7.9          3.8           6.4          2.0  Virginica
135           7.7          3.0           6.1          2.3  Virginica
122           7.7          2.8           6.7          2.0  Virginica
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     Setosa
42            4.4          3.2           1.3          0.2     Setosa
38            4.4          3.0           1.3          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
13            4.3          3.0           1.1          0.1     Setosa

[150 rows x 5 columns]

In [23]:
#Use of groupby() method
df[["sepal.length"]].groupby(df["variety"]).mean()

            sepal.length
variety
Setosa             5.006
Versicolor         5.936
Virginica          6.588

In [25]:
df[["sepal.length","petal.width"]].groupby(df["variety"]).mean()

            sepal.length  petal.width
variety
Setosa             5.006        0.246
Versicolor         5.936        1.326
Virginica          6.588        2.026

In [27]:
data = {
    'User ID': [1, 1, 2, 2, 3, 3, 4, 3, 7],
    'Movie Name': ['Inception', 'Titanic', 'Incepption', 'Avatar', \
                   'Titanic', 'Avatar', "Lion King", "Inter Stellar", "Bahubali"],
    'Rating': [9, 8, 7, 10, 9, 8, 7, 8, 9]
}
#Create DataFrame
df = pd.DataFrame(data)
print(df)

   User ID     Movie Name  Rating
0        1      Inception       9
1        1        Titanic       8
2        2     Incepption       7
3        2         Avatar      10
4        3        Titanic       9
5        3         Avatar       8
6        4      Lion King       7
7        3  Inter Stellar       8
8        7       Bahubali       9

In [33]:
#create a sample table with movie ratings
data = {
    'User ID': [1, 1, 2, 2],
    'Movie Name': ['Apple', 'Banana', 'orange', 'Grapes'],
    'Rating': [9, 8, 7, 10]
}
#Create DataFrame
df = pd.DataFrame(data)
print(df)

   User ID Movie Name  Rating
0        1      Apple       9
1        1     Banana       8
2        2     orange       7
3        2     Grapes      10

In [35]:
#pivot the table
pivot_table = df.pivot(index='User ID', columns='Movie Name', values='Rating')
#Dispaly the pivoted table
print(pivot_table)

Movie Name  Apple  Banana  Grapes  orange
User ID
1             9.0     8.0     NaN     NaN
2             NaN     NaN    10.0     7.0

In [45]:
pivot_table.fillna(0)

Movie Name  Apple  Banana  Grapes  orange
User ID
1             9.0     8.0     0.0     0.0
2             0.0     0.0    10.0     7.0

In [47]:

#Sort the rows in ascending/descending
df.sort_values(by="sepal.length", ascending=False)

KeyError: 'sepal.length'

In [ ]:
#Plot a graph betweeen sepal.length,petal.width
import matplotlib.pyplot as plt
plt.scatter(x=df["sepal.length"], y=df["petal.width"]